<div class="mariana_profile_container">
  <h1>Hi, I'm Mariana!</h1>

  <h3>Please only contact me in the following cases:</h3>
  <div class="mariana_list">
    <ul>
      <li>To invite me for a Sailor Moon fan group</li>
      <li>To start a band</li>
      <li>To re-watch Drag Race</li>
    </ul>
  </div>

</div>